body {
	font-family : Tahoma,Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 10px;
	background: white;
    height : 100%;
    width : 100%;
    margin: auto;
    padding: 0;
}

img {
    border: 0;
}

table {
    width: 100%;
}

td, tr {
    width: 100%;
}

/******** Smilies ****************************/
.smiliesHeader {
	background-color: #469;
    color : white;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.smiliesHeader a{
    text-decoration: none;
    color: white;

}
