body {
    height : 100%;
    margin: 0;
    padding: 0;
}

#page {
    width: 950px;
    margin : 0 auto;
    padding : 0 0 0 0;
}

#main {
    width: 900px;
    margin : 0 auto;
}

.generic_form {
    clear: both;
    margin-top : 50px;
    margin-bottom : 30px;
    margin-right: auto;
    margin-left: auto;
}

textarea {
    width: 100%;
}

#top {
    width: 934px;
    height: 169px;
    margin-left: 9px;
    margin-top: 0px;
}

#prelude {
    margin-top: 5px;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
}

#speech {
    position: relative;
    float: left;
    width: 820px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: left;
}

#announce {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.navbar {
    width: 100%;
    min-height: 16px;
    clear: both;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}
.navbar img {
	vertical-align: bottom;
}

/*********** Sidebar **************/
#sidebar {
    top : 0px;
    left : 3px;
    bottom: auto;
    margin-right: 0px;
    margin-bottom: 60px;
    width: 170px;
}

#sidebar h1, h2{
	text-align: center;
}

#sidebar h1 {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#sidebar h2 {
    padding-top: 6px;
    padding-bottom: 0px;
    margin-bottom: 3px;
}

#sidebar table {
    padding: 0 0 0 0;
}

.menubar {
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.menuitem {
    padding-left: 6px;
	vertical-align:middle;
}

.menuitem img {
	padding-right: 6px;
}




/*********** Tagboard **************/
#tagboard {
    width: 170px;
}

#tags {
    margin : 0 auto;
    width: 170px;
    max-height: 220px;
    overflow-x:hidden;
    overflow-y:auto;
}

.tag_pseudo { float: left; }
.tag_date { float: right; }

#tags textarea {
    max-width: 160px;
    min-height: 60px;
	}

#tagform {
    margin : 0 auto;
    width: 170px;
}


/******** Record table ********************/

.results-prelude {
   margin-left : auto;
   margin-right : auto;
   margin-bottom: 10px;
   text-align: center;
   width : 670px;
}

.results {
   float: right; 
   margin-left : 0px;
   margin-top : 5px;
   margin-bottom : 30px;
   width : 670px;
}

.results td {
    text-align: center;
}

.oneresult {
    margin-left : auto;
    margin-right : auto;
    margin-top : 30px;
    margin-bottom : 30px;
    width : 670px;
    text-align: center;
    clear: both;
}

.oneresult td {
    text-align: center;
}	


/************* Coments *************/
.comPreview a img {
    max-width: 24px;
    max-height: 24px;
}

.com_avatar {
	width: 130px;
	height: 130px;
}

td .com_content {
    min-height: 130px;
}

.comment {
    width : 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.comment table {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.com_header {
    height: 20px;
    padding: 2px;
}

/******** Footer ****************************/
#footer
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
    width: 929px;
    height: 20px;
    border: 1px solid #E0E0E0;
    text-align: center;
    padding: 0;
}

#stats
{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
    padding: 0;
    text-align: center;
    width: 929px;
    height: 35px;
}

#perfs
{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
    padding: 0;
    text-align: center;
    width: 929px;
    height: 20px;
}

/****** General Button ************************/

.button {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 5px;
    text-align: center;
}

.error {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 5px;
    text-align: center;
}
