body {
    height : 100%;
    margin: 0;
    padding: 0;
}

#page {
    width: 950px;
    margin : 0 auto;
    padding : 0 0 0 0;
}

#main {
    width: 900px;
    margin : 0 auto;
}

.generic_form {
    clear: both;
    margin-top : 50px;
    margin-bottom : 30px;
    margin-right: auto;
    margin-left: auto;
}

textarea {
    width: 100%;
}

#top {
    width: 932px;
    height: 169px;
    margin-left: 9px;
    margin-top: 0px;
}

#prelude {
    margin-top: 5px;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: left;
}

#speech {
    position: relative;
    float: left;
    width: 820px;
    margin-left: 11px;
    margin-right: 10px;
    margin-bottom: 40px;
    text-align: left;
}

#announce {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.navbar {
    width: 880px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

/*********** Sidebar **************/
#sidebar {
    position : relative;
    float : left;
    top : 0px;
    left : 3px;
    bottom: auto;
    margin-right: 0px;
    margin-bottom: 60px;
    width: 170px;
}

#sidebar h2 {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#sidebar table {
    padding: 0 0 0 0;
}

.menubar {
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.menuitem {
    padding-left: 6px;
    border-top: 1px solid #f8f8f8;
    background: #fbfbfb;
}


/*********** Tagboard **************/
#tagboard {
    width: 170px;
}

#tags {
    margin : 0 auto;
    margin-top : 5px;
    width: 170px;
    height: 220px;
    overflow: auto;
}

.tag_date { float: right; }

#tagform {
    margin : 0 auto;
    width: 170px;
}

/******** Record table ********************/

.results-prelude {
   margin-left : auto;
   margin-right : auto;
   text-align: center;
   width : 670px;
}

.results {
   float: right; 
   margin-left : 0px;
   margin-top : 5px;
   margin-bottom : 30px;
   width : 670px;
}

.results td {
    text-align: center;
}

.oneresult {
    margin-left : auto;
    margin-right : auto;
    margin-top : 30px;
    margin-bottom : 30px;
    width : 670px;
    text-align: center;
    clear: both;
}

/******** Comments ********************/
.comments {
    margin : 20px auto;
    width : 650px;
}

.com_header {
    height: 30px;
    padding: 2px;
}


/******** Footer ****************************/
#footer
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
    width: 929px;
    height: 20px;
    border: 1px solid #E0E0E0;
    text-align: center;
    padding: 0;
}

#stats
{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
    padding: 0;
    text-align: center;
    width: 929px;
    height: 20px;
}

#perfs
{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
    padding: 0;
    text-align: center;
    width: 929px;
    height: 20px;
}

/****** General Button ************************/

.button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 5px;
    text-align: center;
}

.error {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 5px;
    text-align: center;
}
