@import url('layout.css');

body {
	font: 11px Verdana, Helvetica, Arial, sans-serif;
    /*background: #FF4949 url("images/background.png") repeat-x;*/
    background-color: #eee;
}

a {
    color : #003;
    background: transparent;
    text-decoration: none;
}

img {
    border: 0;
}


#page {
    background: transparent url(images/bg.png) repeat-y left;
    color : #223;
}

#main {
    background: transparent;
    
}

input, textarea {
    border : 1px solid gray;
    background: #fcc;
}
select, option {
    background: #fcc;
}
input[type=submit]:hover, input[type=submit]:focus {
	background : #daa;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid red;
}

table {
    border: 1px solid #E0E0E0;
    width: 100%;
}

th {
    font-weight: bold;
    text-align: center;
    color: #556;
    background: #FFF url(images/back-vertic.png) repeat-x;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
}

td {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #223;
}

caption {
    font-weight: bold;
    text-align: center;
}

.embedded table, .embedded td, .embedded tr, .embedded th {
    border: 0px;
    padding: 0px;
}

.embedded input {
    font-family: "Courier New";
    font-size: 1em;
    border: 1px;
    border-color: #888;
    background: #ffe;
}

/******** Title ****************************/

#top {
    color: #223;
}

#announce {
    background: red;
    color: white;
    font-weight: bold;
}

/******** Record table ********************/

/* style only for main page */

.results-prelude {
   color: #822;
}
.results {
   clear: both;
}

.results table {
	border-collapse:collapse;
}

.results tr:hover {
    background : #fff;
}

.results td {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #223;
}

.results a {
    color: #633;
    text-decoration: none;
}

.row1 {
    background: #fbfbfb;  
}

.row2 {
    background: #f4f4f4;  
}

.oneresult table {	
	border-collapse:collapse;
}

.oneresult a {
    color: #633;
}	

/******** Comments table ********************/

.comment a {
    color: #633;
}

.com_header {
    background: #fff url(images/back-vertic.png) repeat-x;
}

td .com_content {
    border: 1px solid #f8d0d0;
    background: #fdd; 
    padding: 10px 10px 10px 10px;
}

/******** Prelude ****************************/

#prelude {
    background: #FFF url(images/back-vertic.png) repeat-x;
    font-weight: bold;
    color : #f03080;
}

#prelude a {
    color : #00f;
}
#prelude a:hover, #prelude a:focus {
    color : #0373A1;
}
#prelude p,ul,li {
    color : #333;
    text-decoration: none;
    font-weight: normal;
}

/******** Speech ****************************/
#speech {
    color : #333;
}

/******** Navbar *****************************/
.navbar {
 /* background: #FFF url(images/back-vertic.png) repeat-x; */
    color : #f38;
}


/******** Sidebar ****************************/
#sidebar {
/*background: #FFF url(images/back-vertic.png) repeat-x;*/
font-size: 0.9em;
}

#sidebar h1, h2 {
    font-size: 1em;
    font-weight: bold;
    color: #533;
    border-bottom: 1px solid #c66;
}

#sidebar h2 {
	border: 1px solid #c66;
	border-bottom: none;
}

.comPreviewHeader {
    background: #eee;
    font-size: 0.9em;
}
.comPreviewHeader a{
    color: #411;
}
.comPreview {
    background: #fff;
}
.menuitem {
 /*   border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;*/
/*    background: #fbfbfb;*/
}
.menuitem:hover {    background: url(images/curseur.gif) repeat-y left; }
.menuitem a:hover { color: #335 ; }

/******** Tagform ****************************/

#tagform label {
    font-weight: bold;
    color: #525;
}


/*********** Tags **************/
#tags {
	font-size: 0.9em;
}

#content {
    font-size:1em;
}

#tags textarea {
    font-size: 1.1em;
	}

#tags table {
    background: transparent;
    table-layout: fixed;
}

.tagheader {
    background: #eee;
}

.tagmsg1 {
    background: #fff;   
}

.tagmsg2 {
    width: 100%;
    background: #fff;
}

.tag_pseudo {
    color: black;
    font-weight: bold;
}

.tag_pseudo a{
    color: #006;
    text-decoration: none;
    font-weight: bold;
}

.tag_date {
    color: #333;
    font-style: italic;
}

.tag_error {
    color: red;
    font-weight: bold;
}


/******** Footer ****************************/
#footer
{
    background: #FFF url(images/back-vertic.png) repeat-x;
    color: #335;
    -moz-border-radius: 6px;
}

#footer a{
    color: #558;
}

#stats {
    text-align: left;
}

.st_label {
   font-weight: bold;
   text-align: left;
}
.st_text {
   font-style: italic;
   text-align: left;
}

#perfs
{
    border: 1px solid #E0E0E0;
    color: #335;
}

/******** generic form  *****************/

.generic_form {
    background: #FFF url(images/back-vertic.png) repeat-x;
    color: #224;
}

.generic_form td {
    padding: 5px;
}

/****** General Button ************************/

.button {
    border: 1px solid #E0E0E0;
    color: #335;
    background: #FFF url(images/back-vertic.png) repeat-x;
    -moz-border-radius: 6px;
}
.button a {
    font-weight: bold;
}
.error {
    background: #f55;
    font-weight: bold;
    color: #fff;
}
